---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/movies/v2/reviews/search.json?api-key=<NYT_MOVIE_REVIEWS_API_KEY>&query=whatever_works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NYT_MOVIE_REVIEWS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2020 The New York Times Company.
        All Rights Reserved.","has_more":false,"num_results":1,"results":[{"display_title":"Whatever
        Works","mpaa_rating":"PG-13","critics_pick":0,"byline":"A. O. SCOTT","headline":"Kvetch
        Your Enthusiasm","summary_short":"My problem with \u201cWhatever Works\u201d
        is not that the premise is a wee bit familiar. Rather, it\u2019s that the
        delivery is off.","publication_date":"2009-06-18","opening_date":"2009-07-03","date_updated":"2017-11-02
        04:18:09","link":{"type":"article","url":"http:\/\/www.nytimes.com\/2009\/06\/19\/movies\/19whatever.html","suggested_link_text":"Read
        the New York Times Review of Whatever Works"},"multimedia":null}]}'
  recorded_at: Wed, 14 Oct 2020 23:23:42 GMT
recorded_with: VCR 6.0.0
