---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/19265/reviews?api_key=<MOVIEDB_API_KEY>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<MOVIEDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 0b7e4237f062a1b2d25343f3c29952ab
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-07-21 13:39:24 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":19265,"page":1,"results":[{"author":"markuspm","content":"It
        is an instant classic. One of my favorite movies for the holiday season.","id":"52b7d4d2760ee330850373c7","url":"https://www.themoviedb.org/review/52b7d4d2760ee330850373c7"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 15 Oct 2020 14:10:56 GMT
recorded_with: VCR 6.0.0
