---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/19265/credits?api_key=<MOVIEDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<MOVIEDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 135c43205fc0868d6efb12198c474b5f
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-07-21 13:39:24 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":19265,"cast":[{"cast_id":5,"character":"Boris Yellnikoff","credit_id":"52fe47ca9251416c750a596b","gender":2,"id":16376,"name":"Larry
        David","order":0,"profile_path":"/iuqDxOO6DBGFJAmqCAITmYbGuEt.jpg"},{"cast_id":6,"character":"Melodie
        St. Ann Celestine","credit_id":"52fe47ca9251416c750a596f","gender":1,"id":38940,"name":"Evan
        Rachel Wood","order":1,"profile_path":"/dWmzryckjVXOVoIVa3in1Cg6v4r.jpg"},{"cast_id":8,"character":"Joe
        - Boris'' Friend #3","credit_id":"52fe47ca9251416c750a5977","gender":2,"id":21731,"name":"Michael
        McKean","order":2,"profile_path":"/xSwMjo3hLLVeopaHwYDdM1m5enl.jpg"},{"cast_id":12,"character":"Leo
   [...]
